/* basic styles */
.skeleton {
    background: #ddd;
    margin: 10px 0;
    border-radius: 4px;
}

.skeleton.text {
    width: 100%;
    height: 12px;
}

.skeleton.title {
    width: 50%;
    height: 20px;
    margin-bottom: 20px;
}

.skeleton.avatar {
    width: 150px;
    height: 100px;
    border-radius: 50%;
}

.skeleton.thumbnail {
    width: 100px;
    height: 100px;
}

.skeleton.image {
    width: 100%;
    height: 150px;
}

.skeleton-wrapper {
    margin: 20px auto;
    padding: 10px 15px;
    position: relative;
    background: #FFF;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    overflow: hidden;
}

/* animation effects */
.shimmer-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: loading 2.5s infinite;
    overflow: hidden;
}

.shimmer {
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.05)
}

@keyframes loading {
    0% {transform : translateX(-150%)}
    50% {transform: translateX(-60%)}
    100% {transform: translateX(150%)}
}

/* components */
.skeleton-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
} 

.skeleton-profile-content {
    width: 100%;
    height: 100%;
    padding: 20px;
}